<% if @ad.errors.any? %>
  <div id="error_explanation">
    <h5><%= pluralize(@ad.errors.count, "error") %></h5>
    <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>